<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <section>
            <% results.forEach((data)=>{ %>
                <section>
                    <h1><%= element.quote%></h1>
                    <h2><%= element.character%></h2>
                    <img src="<%=element.image%>" alt="">
                    <p><%=element.characterDirection</p>               
                 </section>
                 <form action="/details/<%=element.id%>" method="GET">
                    <input type="submit" name="id" value="see Details">
                </form>

           <% }) %>
        </section>
    </main>
    <footer></footer>
</body>
</html>